/*Navbar tools*/

#icon{
    padding-left: 15px;
    padding-top: 10px;
    color: orange;
}

.my-navbar{
    background-color:cadetblue;
    

}

table.my-table{
    margin-top: 20px;
}

.modal-header .close {
  margin-top: 6px;
}

.modal-tittle {
    margin: 10px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
